---
// index.astro
import Layout from '../layouts/Layout.astro';
import AudioProcessor from '../components/AudioProcessor.astro';
import Header from '../components/Header.astro';
---

<Layout title="Audio Processor">
  <div class="background">
    <Header />
    <main>
      <AudioProcessor />
    </main>
  </div>
</Layout>

<style>
  .background {
    /* Usar las variables CSS definidas en AudioProcessor.astro */
    background: linear-gradient(to bottom, var(--audio-processor-color-top), var(--audio-processor-color-bottom));
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
</style>